* {
  font-family: Arial;
}

stock_list {
  padding: 0;
  spacing: 0.1rem;
  border-collapse: collapse;
  display: table;
}

stock_item {
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-row;
}

item_photo {
  text-align: center;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_name {
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_info {
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_quantity {
  text-align: center;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_price {
  text-align: right;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

line_cost {
  border-spacing: 0.4rem;
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  display: table-cell;
}

item_stock {
  border-spacing: 0.4rem;
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  display: table-cell;
}

new_stock {
  text-align: center;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

.heading {
  background-color: blue;
  color: white;
}

.stock {
  border-style: none none groove none;
  border-style: 2px;
  border-color: silver;
}

.stock_item > * {
  line-height: 1.7;
  padding: 0.5rem;
  display: table-cell;
}

.stock_item {
  display: table-cell;
  padding: 0.3rem;
  background-color: Gainsboro;
}

.list {
  background-color: Gainsboro;
  padding: 0.3rem;
}

.odd > * {
  background-color: Gainsboro;
  padding: 0.3rem;
  border-spacing: 0.4rem;
}

.even > * {
  background-color: Silver;
  border-spacing: 0.4rem;
}

.out_of_stock {
  background-color: lightGray;
  border-color: silver;
  font-size: 20pt;
  text-align: center;
  border-style: none none groove none;
  font-weight: bold;
}
